<%-include('navbar.ejs')%>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<style>
    input{
      box-shadow: 0px 0px 1px 0px black;
      background-color: white;
    }
  
   
</style>
<div class="container p-5">
    <div class="row " style="overflow-x: scroll;">
        <h4 class="text-center">Total Expense of this month</h4>
        <div class="col-md-3 mb-3 mt-3 alert alert-primary">
            <div class="row">

<div class="col-12 p-0 text-center">
    <h2 class="text-primary ">&#8377; <%-curExp%></h2>
    <%if(lastexp!=0){%>
    <%if((curExp-lastexp)<0){%>
        <p class="text-danger mt-3" style="font-size: 13px;">
            <i class="fa fa-arrow-trend-down"></i>
            <%-(((curExp-lastexp)/lastexp)*100).toString().split(".")[0]%> % less expense in this month.
            </p>
        <%}else{%>
<p class="text-success mt-3" style="font-size: 13px;">
<i class="fa fa-arrow-trend-up"></i>
+<%-(((curExp-lastexp)/lastexp)*100).toString().split(".")[0]%> % more expense in this month.
</p>
        <%}}%>
 
</div>
            </div>
           
            
        </div>

        <table id="example" class="display nowrap table table-striped table-primary" style="width:100%">
            <thead>
                <tr>
                  
                    <th>Name</th>
                    <th>Batch Id</th>
                    <th>Quantity</th>
                 
                             <th>Amount</th>
                    <th>Import Date</th>
                  
                    <th></th>
            
                </tr>
            </thead>
            <tbody>
                <%for(let i of list){%>
                 <tr>
              
                    <td><%-i.pname%></td>
                    <td><%-i.batchId%></td>
                    <td><%-i.qty%></td>
                 
                    <td><%-i.amt%></td>
                    <td><%-i.adddate%></td>
                    
                    <td><a style="cursor: pointer;" onclick="deleteData('<%-i.id%>')" class="text-danger"><i class="fa fa-trash"></i></a></td>
 

                </tr>
                <%}%>
             
            </tbody>
      
        </table>
    </div>
</div>

<script>
   function deleteData(ele){
    let r=confirm('Delete Data ?')
    if(r==true){
        location.href="/delete-product/"+ele
    }
   }
    
    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.jss"></script>

<script type="text/javascript">
	new DataTable('#example', {
    layout: {
        topStart: {
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        }
    }
});

</script>
<script type="text/javascript">
	

</script>

<%-include('footer.ejs')%>